[submodule "linked-projects/movie-predictor"]
	path = linked-projects/movie-predictor
	url = https://github.com/carloida/portfolio_msba_moviepredictor.git
[submodule "linked-projects/qrm-portfolio"]
	path = linked-projects/qrm-portfolio
	url = https://github.com/carloida/portfolio_msba_QRMportfolio.git
[submodule "linked-projects/med-seal-rad"]
	path = linked-projects/med-seal-rad
	url = https://github.com/AI-Innovation-Challenge-2502/med-seal-rad.git
